<%- include('partials/header') %>

    <h2 class="titulo"><%= title %></h2>

    <div class="pokeGrid">
        <% pokemons.forEach(poke => { %>
            <a href="/pokemon/<%= poke.id %>" class="card">
                <img src="<%= poke.imagen %>" alt="<%= poke.nombre %>" class="cardImg">
                <div class="cardInfo">
                    <span class="cardNumber"><%= poke.numero %></span>
                    <h3 class="cardName"><%= poke.nombre %></h3>
                </div>
            </a>
        <% }) %>
    </div>

<%- include('partials/footer') %>