<%- include('partials/header') %>

    <div class="container">
        <h1 class="pokeNom"><%= pokemon.nombre %></h1>
        
        <div class="pokeInfo">
            <p><%= pokemon.numero %></p>
            <p><%= pokemon.tipo.join(', ') %></p>
        </div>

        <img src="<%= pokemon.imagen %>" alt="<%= pokemon.nombre %>" class="pokeImg">

        <div class="pokeDesc">
            <%- pokemon.descripcion %>
        </div>

        <a href="/" class="atras">Volver a la PokéDex</a>
    </div>

<%- include('partials/footer') %>